# Ignore system backup files
*.db

# Ignore pyc files
*.pyc

# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# ignore pycharm files
.idea/

# ignore extra folder
extra/

# ignore old files leo package sandbox
_create_package_version.py
package/harmony20/_create_links.bat

# ignore events config file
app/plugins/events/_events.json

# ignore script leo
app/_fix_mc_astro.py

# ignore create asset template config json
*_assetCreate.json
